 
h2{
    color:white;
    margin-left:110px;
    margin-top:40px;
}

a {
    text-decoration:none;
    color:black;
    margin-top:0px;
    margin-left:500px;
}

a:hover {
    color:blue;


}

a.link{
    color:white;
}

.content{
    margin-left:90px;
    margin-top:100px;
    width:50%;
    color:white;
    

}


.logo{
    position: fixed; top:5px;
    margin-left:10px;
}


.home{
    color:white;
    font-size:xx-small;
    margin-left:850px;
    margin-top:1px;

    
    
    
    
}

.button{
    margin-left:90px;
    margin-top:50px;
    padding:10px 70px;   
    background-color:white;
    border-radius: 27px;
    width:100%;
}

.insta{
    padding:30px 30px;
    background-image: url("pics\\insta.jpeg");
    margin-left:1050px;
    margin-top:1000px;

}

.linked{
    padding:20px 20px;
    background-image: url("pics\\LinkedIN.jpeg");
    margin-left:0px;
    margin-top:1000px;
    background-repeat:no-repeat;
}

.play{
    padding:20px 20px;
    background-image: url("pics\\GooglePlay.jpeg");
    margin-left:0px;
    margin-top:1000px;
    background-repeat: no-repeat;

}