*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background:url("../assets/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.nav, .logo{
  display: inline-block;
}

.logo{
  padding: 15px;
}

.logo-icon{
    margin-left:20px;
    vertical-align: middle;
}

.logo-text{
    color:white;
    vertical-align: middle;
    display: inline;
    font-family: 'Prata', serif;
    font-size: 24px;

}

.nav {
  list-style-type: none;
  text-align: center;
  width: 50%;
  margin-left: 300px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px 30px;
}

a{
  text-decoration: none;
  color: white;
}

.nav a{
  font-weight: bolder;
}

.contact-header{
  color: white;
  font-family: 'Prata', serif;
  font-size: 36px;
  margin-top: 250px;
  padding: 20px 20px 10px;
  letter-spacing: 3px;
}

.contact-sub{
  color: white;
  font-family: 'Montserrat', serif;
  padding: 10px 20px 20px;
}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  width: 90%;
  max-width: 700px;
  margin:0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;

  /* change   background-color: white; */
  background: rgba(255,255,255,0.05);
   backdrop-filter: blur(10px);
   border-top: 1px solid rgba(255,255,255,0.2);
   border-left: 1px solid rgba(255,255,255,0.2);
   box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
 border-radius: 3px;

  border-radius: 8px;
  margin-bottom: 20px;
}


.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
}


.form-group input,
.form-group textarea{
  width: 100%;
  padding: 13px;
/* change  border: 1px solid rgba(128, 128, 128, 0.199);*/

  margin-top: 15px;
  font-family: 'Montserrat', serif;
  border: none;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255,255,255,0.2);
  border-left: 1px solid rgba(255,255,255,0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);

transition: color 0.3s ease-out;
color: white;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

textarea{
    resize: vertical;
  }
button[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Montserrat';
  text-align: center;
  cursor: pointer;
  transition: .3s ease background-color;
  margin-top: 10px;

  color: #fff;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255,255,255,0.2);
  border-left: 1px solid rgba(255,255,255,0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  text-transform: uppercase;

}
button[type="submit"]:hover{
  background-color: rgb(214, 226, 236);
  color: #00008B;
  font-weight: bold;
}

.contact-info{
  color: white;
  width: 100%;
  text-align: center;
}

.email, .phone{
  display: inline-block;
  padding: 10px 30px;

}

.email > p, i{
  display: inline-block;
  padding: 0 2px;
  text-align: center;
}

.phone > p, i{
  display: inline-block;
  padding: 10px 2px;
  text-align: center;
}

.fa{
  color: white;
}
.or{
  color: white;
  text-align: center;
  padding: 40px 2px 20px;
  font-weight: bold;
}

#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
}
#status.success{
  background-color: rgb(211, 250, 153);
  color: green;
  animation: status 4s ease  forwards;
}
#status.error{
  background-color: rgb(250, 129, 92);
  color: rgb(252, 252, 252);
  animation: status 4s ease  forwards;
}

@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}
