*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background:url("../assets/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.nav, .logo{
  display: inline-block;
}

.logo{
  padding: 15px;
}

.logo-icon{
    margin-left:20px;
    vertical-align: middle;
}

.logo-text{
    color:white;
    vertical-align: middle;
    display: inline;
    font-family: 'Prata', serif;
    font-size: 24px;

}

.content{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  padding: 20px 0;
}

.content-text{
  margin-left:90px;
  width:50%;
  color:white;
}

.content-head{
  margin-bottom: 30px;
  margin-left:-350px; 
}


a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* TODO: change nav style for mobile layouts */

.nav {
  list-style-type: none;
  text-align: center;
  width: 50%;
  margin-left: 300px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px 30px;
}

.download-btn{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #021F59;
  font-weight: 600;
  font-family: 'Prata', serif;
  letter-spacing: 1px;
  margin-left: 85px;
  cursor: pointer;
}

.row {
  display: flex;
  
}

.column {
  flex: 20%;
  float: left;
  width: 10%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

.container {
  padding: 0 16px;
  color: #fff;
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}




