*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background:url("../assets/Background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}
/* change */
.wrapper{
  text-align: center;
}

.wrapper h1{
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
}

.wrapper h3{
  color: white;
}

img{
  border-radius: 50%;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
/*  background: #fff; */
  padding: 20px 10px;
}

.our_team .team_member .member_img{
/*  background: #e9e5fa; */
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}
/*
.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}*/

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}
/* change */
/*

.nav, .logo{
  display: inline-block;
}

.logo{
  padding: 15px;
}

.logo-icon{
    margin-left:20px;
    vertical-align: middle;
}

.logo-text{
    color:white;
    vertical-align: middle;
    display: inline;
    font-family: 'Prata', serif;
    font-size: 24px;

}
*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2.5rem 0rem 0rem;
    margin-bottom: 20px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  /*  background-color: #101010; */
  background-color: white;
}

li{
  list-style: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: 400;
}

.nav-link:hover{
   border-bottom: 2px solid #482ff7;
}
/*
.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}*/

/* original */

.nav, .logo{
  display: inline-block;
}

.logo{
  padding: 15px;
}

.logo-icon{
  margin-right: 10px;
    vertical-align: middle;
    height: 70px;
    width: 70px;
}

.logo-text{
    color:white;
    vertical-align: middle;
    display: inline;
    font-family: 'Prata', serif;
    font-size: 24px;

}

.nav {
  list-style-type: none;
  text-align: center;
  width: 50%;
  margin-left: 300px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px 30px;
}

a{
  text-decoration: none;
  color: white;
}

.nav a{
  font-weight: bolder;
}

.content{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  padding: 20px 0;
}
/*
.content-text{
  margin-left:90px;
  width:50%;
  color:white;
}*/

.content-head{
  margin-bottom: 30px;
  /*margin-left:-350px;*/
  text-align: center;
color: white;
}


a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* TODO: change nav style for mobile layouts

.nav {
  list-style-type: none;
  text-align: center;
  width: 50%;
  margin-left: 300px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px 30px;
} */

.download-btn{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #021F59;
  font-weight: 600;
  font-family: 'Prata', serif;
  letter-spacing: 1px;
  margin-left: 85px;
  cursor: pointer;
}

.row {
  display: flex;

}

.column {
  flex: 20%;
  float: left;
  width: 10%;
  margin-bottom: 16px;
  padding: 0 8px;

}

.container {
  padding: 0 16px;
  color: #fff;
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


@media only screen and (max-width: 936px) { /*768px*/
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #02043B;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        z-index: 100;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


@media screen and (max-width: 1141px) {
          .column {
            flex: 10%;
              width: 10%;
              text-align: none;
          }
      }

@media only screen and (max-width: 500px) {
    .logo-text{
      display: none;
    }

    .logo-icon{
      height: 50px;
      width: 50px;
    }

    .contact-header{
      font-size: 25px;
      margin-top: 300px;
      padding: 60px 20px 0 20px;
    }

}
